# Python
__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env

# Data
data/raw/*
data/processed/*
data/external/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/external/.gitkeep

# Reports
reports/screenshots/*
reports/figures/*
!reports/screenshots/.gitkeep
!reports/figures/.gitkeep

# Jupyter
.ipynb_checkpoints/

# OS / IDE
.DS_Store
.idea/
.vscode/